<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>

<% if current_user.admin? && params[:id] %>
	<h4>You can associate the following resources</h4>
	<h5>Merge Articles</h5>
	<%= form_tag({action: :merge, :id => @article.id}, {:remote => true, :class => className}) do %>
		<% options = options_from_collection_for_select(@articles, 'id', 'title') %>
		<%= select_tag 'merge_with', options %>
		<%= submit_tag("Merge", {:class => 'btn primary'}) %>
	<% end %>
<% end %>